:root {
    --primary-font: 'Gilroy';
    --primary-font-weight: 400;
    --secondary-font-weight: 500;
    --tertiry-font-weight: 600;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./Fonts/Gilroy-Semibold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./Fonts/Gilroy-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.header {
    font-family: var(--primary-font);
    font-weight: var(--tertiry-font-weight);
    color: #20264C;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    flex-shrink: 0;
    flex-wrap: wrap;

}



.main__div-1 {
    display: flex;
    width: 392px;
    height: 422px;
    border-radius: 10px;
    padding: 16px;
    gap: 16px;
    flex-direction: column;
}

.main__div-1-head {
    background-image: url(./img/handnails.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 250px;
    border-radius: 10px;
    justify-content: space-between;
    padding: 16px;
}

.main__div-1-head-50 {
    display: flex;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: var(--tertiry-font-weight);
    color: #fff;
    background-color: #F3164E;
    width: 58px;
    height: 45px;
    border-radius: 4px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.main__div-1-head-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-top: 140px;
}

.main__div-1-head-15aug {
    width: 105px;
    height: 36px;
    border-radius: 4px;
    padding: 8px;
    gap: 10px;
    background-color: #E6E7EB;
    font-family: var(--primary-font);
    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    color: #515674;
}

.main__div-1-head-33 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 36px;
    border-radius: 4px;
    padding: 8px;
    gap: 4px;
    background-color: #E6E7EB;
    font-family: var(--primary-font);
    font-weight: var(--secondary-font-weight);
    color: #20264C;
    font-size: 14px;
}

.main__div-1-main {
    font-family: var(--primary-font);
    font-weight: var(--tertiry-font-weight);
    font-size: 20px;
    color: #20264C;
}

.main__div-1-foot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main__div-1-imgburut {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
}

.main__div-1-foot-adress {
    display: flex;
    flex-direction: column;
}

.main__div-1-foot-adress-name {
    font-family: var(--primary-font);
    font-weight: var(--tertiry-font-weight);
    font-size: 18px;
    color: #20264C;
}

.main__div-1-foot-adress-adress {
    font-family: var(--primary-font);
    font-weight: var(--secondary-font-weight);
    font-size: 16px;
    color: #515674;
}

.footer__button {
    display: block;
    margin: 20px auto;
    outline: none;
    border: none;
    width: 257px;
    height: 48px;
    border-radius: 40px;
    border: 1px solid #FF941A;
    background-color: #fff;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #FF941A;
    font-family: var(--primary-font);
    font-weight: var(--tertiry-font-weight);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3 ease;
}

.footer__button:active {
    transform: scaleX(0.95);
}